## Julia Tutorial 002: DataFrames

In this tutorial we will walk through how to: extract valuable summaries, rename columns, select columns, filter rows, sort rows, mutate the dataset to create new variables, join datasets, and create grouped summaries.   DataFrames.jl is a package in Julia that will help you manipulate data.   We will use the "mtcars" dataset from the RDatasets.jl package.    We will also make limited use of the StatsBase.jl package.  

The DataFrames.jl documentation can be found here: https://juliadata.github.io/DataFrames.jl/stable/

In [1]:
#import Pkg
#Pkg.add("DataFrames")
#Pkg.add("RDatasets")
#Pkg.add("StatsBase")

In [2]:
# Load required packages into the environment
using DataFrames, RDatasets, StatsBase

In [3]:
# Load the "mtcars" dataset from the "dataset" R package
mtcars = dataset("datasets", "mtcars")

32×12 DataFrame. Omitted printing of 6 columns
│ Row │ Model             │ MPG     │ Cyl   │ Disp    │ HP    │ DRat    │
│     │ String            │ Float64 │ Int64 │ Float64 │ Int64 │ Float64 │
├─────┼───────────────────┼─────────┼───────┼─────────┼───────┼─────────┤
│ 1   │ Mazda RX4         │ 21.0    │ 6     │ 160.0   │ 110   │ 3.9     │
│ 2   │ Mazda RX4 Wag     │ 21.0    │ 6     │ 160.0   │ 110   │ 3.9     │
│ 3   │ Datsun 710        │ 22.8    │ 4     │ 108.0   │ 93    │ 3.85    │
│ 4   │ Hornet 4 Drive    │ 21.4    │ 6     │ 258.0   │ 110   │ 3.08    │
│ 5   │ Hornet Sportabout │ 18.7    │ 8     │ 360.0   │ 175   │ 3.15    │
│ 6   │ Valiant           │ 18.1    │ 6     │ 225.0   │ 105   │ 2.76    │
│ 7   │ Duster 360        │ 14.3    │ 8     │ 360.0   │ 245   │ 3.21    │
│ 8   │ Merc 240D         │ 24.4    │ 4     │ 146.7   │ 62    │ 3.69    │
│ 9   │ Merc 230          │ 22.8    │ 4     │ 140.8   │ 95    │ 3.92    │
│ 10  │ Merc 280          │ 19.2    │ 6     │ 167.6   │ 123   │ 3.92    │
⋮
│ 22  │ Dodge Challenger  │ 15.5    │ 8     │ 318.0   │ 150   │ 2.76    │
│ 23  │ AMC Javelin       │ 15.2    │ 8     │ 304.0   │ 150   │ 3.15    │
│ 24  │ Camaro Z28        │ 13.3    │ 8     │ 350.0   │ 245   │ 3.73    │
│ 25  │ Pontiac Firebird  │ 19.2    │ 8     │ 400.0   │ 175   │ 3.08    │
│ 26  │ Fiat X1-9         │ 27.3    │ 4     │ 79.0    │ 66    │ 4.08    │
│ 27  │ Porsche 914-2     │ 26.0    │ 4     │ 120.3   │ 91    │ 4.43    │
│ 28  │ Lotus Europa      │ 30.4    │ 4     │ 95.1    │ 113   │ 3.77    │
│ 29  │ Ford Pantera L    │ 15.8    │ 8     │ 351.0   │ 264   │ 4.22    │
│ 30  │ Ferrari Dino      │ 19.7    │ 6     │ 145.0   │ 175   │ 3.62    │
│ 31  │ Maserati Bora     │ 15.0    │ 8     │ 301.0   │ 335   │ 3.54    │
│ 32  │ Volvo 142E        │ 21.4    │ 4     │ 121.0   │ 109   │ 4.11    │

In [4]:
# Return the class of the "mtcars" DataFrame
typeof(mtcars)

DataFrame

In [5]:
# Return the dimensions of the "mtcars" DataFrame
size(mtcars)

(32, 12)

In [6]:
# Return the number of rows in the "mtcars" DataFrame
nrow(mtcars)

32

In [7]:
# Return the number of columns in the "mtcars" DataFrame
ncol(mtcars)

12

In [8]:
# Return a numerical summary of the "mtcars" DataFrame
describe(mtcars)

12×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean    │ min         │ median │ max        │ nunique │
│     │ Symbol   │ Union…  │ Any         │ Union… │ Any        │ Union…  │
├─────┼──────────┼─────────┼─────────────┼────────┼────────────┼─────────┤
│ 1   │ Model    │         │ AMC Javelin │        │ Volvo 142E │ 32      │
│ 2   │ MPG      │ 20.0906 │ 10.4        │ 19.2   │ 33.9       │         │
│ 3   │ Cyl      │ 6.1875  │ 4           │ 6.0    │ 8          │         │
│ 4   │ Disp     │ 230.722 │ 71.1        │ 196.3  │ 472.0      │         │
│ 5   │ HP       │ 146.688 │ 52          │ 123.0  │ 335        │         │
│ 6   │ DRat     │ 3.59656 │ 2.76        │ 3.695  │ 4.93       │         │
│ 7   │ WT       │ 3.21725 │ 1.513       │ 3.325  │ 5.424      │         │
│ 8   │ QSec     │ 17.8487 │ 14.5        │ 17.71  │ 22.9       │         │
│ 9   │ VS       │ 0.4375  │ 0           │ 0.0    │ 1          │         │
│ 10  │ AM       │ 0.40625 │ 0           │ 0.0    │ 1          │         │
│ 11  │ Gear     │ 3.6875  │ 3           │ 4.0    │ 5          │         │
│ 12  │ Carb     │ 2.8125  │ 1           │ 2.0    │ 8          │         │

In [9]:
# Isolate the variable "MPG" and return a numerical summary
mpg = mtcars[:MPG]
describe(mpg)

Summary Stats:
Length:         32
Missing Count:  0
Mean:           20.090625
Minimum:        10.400000
1st Quartile:   15.425000
Median:         19.200000
3rd Quartile:   22.800000
Maximum:        33.900000
Type:           Float64

In [10]:
# Rename multiple columns of the "mtcars" DataFrame
mtcars = rename(mtcars, :Cyl => :cylinders, :VS => :Engine);

In [11]:
# Use the exclamation point shortcut to rename columns and make these changes to the object
rename!(mtcars, :HP => :Horsepower, :WT => :weight);

In [12]:
# Eliminate the "DRat" column from the "mtcars" DataFrame, using the Not() function
mtcars = mtcars[:, Not(:DRat)];

In [13]:
# Use the select() and Not() functions to eliminate the "QSec" column
mtcars = select(mtcars, Not(:QSec));

In [14]:
# Select desired columns from the "mtcars" DataFrame
mtcars = mtcars[:, [:Model, :MPG, :cylinders, :Horsepower, :weight]]

32×5 DataFrame
│ Row │ Model             │ MPG     │ cylinders │ Horsepower │ weight  │
│     │ String            │ Float64 │ Int64     │ Int64      │ Float64 │
├─────┼───────────────────┼─────────┼───────────┼────────────┼─────────┤
│ 1   │ Mazda RX4         │ 21.0    │ 6         │ 110        │ 2.62    │
│ 2   │ Mazda RX4 Wag     │ 21.0    │ 6         │ 110        │ 2.875   │
│ 3   │ Datsun 710        │ 22.8    │ 4         │ 93         │ 2.32    │
│ 4   │ Hornet 4 Drive    │ 21.4    │ 6         │ 110        │ 3.215   │
│ 5   │ Hornet Sportabout │ 18.7    │ 8         │ 175        │ 3.44    │
│ 6   │ Valiant           │ 18.1    │ 6         │ 105        │ 3.46    │
│ 7   │ Duster 360        │ 14.3    │ 8         │ 245        │ 3.57    │
│ 8   │ Merc 240D         │ 24.4    │ 4         │ 62         │ 3.19    │
│ 9   │ Merc 230          │ 22.8    │ 4         │ 95         │ 3.15    │
│ 10  │ Merc 280          │ 19.2    │ 6         │ 123        │ 3.44    │
⋮
│ 22  │ Dodge Challenger  │ 15.5    │ 8         │ 150        │ 3.52    │
│ 23  │ AMC Javelin       │ 15.2    │ 8         │ 150        │ 3.435   │
│ 24  │ Camaro Z28        │ 13.3    │ 8         │ 245        │ 3.84    │
│ 25  │ Pontiac Firebird  │ 19.2    │ 8         │ 175        │ 3.845   │
│ 26  │ Fiat X1-9         │ 27.3    │ 4         │ 66         │ 1.935   │
│ 27  │ Porsche 914-2     │ 26.0    │ 4         │ 91         │ 2.14    │
│ 28  │ Lotus Europa      │ 30.4    │ 4         │ 113        │ 1.513   │
│ 29  │ Ford Pantera L    │ 15.8    │ 8         │ 264        │ 3.17    │
│ 30  │ Ferrari Dino      │ 19.7    │ 6         │ 175        │ 2.77    │
│ 31  │ Maserati Bora     │ 15.0    │ 8         │ 335        │ 3.57    │
│ 32  │ Volvo 142E        │ 21.4    │ 4         │ 109        │ 2.78    │

In [15]:
# Filter rows of the "mtcars" DataFrame
fourCyl = mtcars[mtcars[:cylinders] .== 4, :];
sixCyl = mtcars[mtcars[:cylinders] .== 6, :];
eightCyl = mtcars[mtcars[:cylinders] .== 8, :]

14×5 DataFrame
│ Row │ Model               │ MPG     │ cylinders │ Horsepower │ weight  │
│     │ String              │ Float64 │ Int64     │ Int64      │ Float64 │
├─────┼─────────────────────┼─────────┼───────────┼────────────┼─────────┤
│ 1   │ Hornet Sportabout   │ 18.7    │ 8         │ 175        │ 3.44    │
│ 2   │ Duster 360          │ 14.3    │ 8         │ 245        │ 3.57    │
│ 3   │ Merc 450SE          │ 16.4    │ 8         │ 180        │ 4.07    │
│ 4   │ Merc 450SL          │ 17.3    │ 8         │ 180        │ 3.73    │
│ 5   │ Merc 450SLC         │ 15.2    │ 8         │ 180        │ 3.78    │
│ 6   │ Cadillac Fleetwood  │ 10.4    │ 8         │ 205        │ 5.25    │
│ 7   │ Lincoln Continental │ 10.4    │ 8         │ 215        │ 5.424   │
│ 8   │ Chrysler Imperial   │ 14.7    │ 8         │ 230        │ 5.345   │
│ 9   │ Dodge Challenger    │ 15.5    │ 8         │ 150        │ 3.52    │
│ 10  │ AMC Javelin         │ 15.2    │ 8         │ 150        │ 3.435   │
│ 11  │ Camaro Z28          │ 13.3    │ 8         │ 245        │ 3.84    │
│ 12  │ Pontiac Firebird    │ 19.2    │ 8         │ 175        │ 3.845   │
│ 13  │ Ford Pantera L      │ 15.8    │ 8         │ 264        │ 3.17    │
│ 14  │ Maserati Bora       │ 15.0    │ 8         │ 335        │ 3.57    │

In [16]:
# Sort rows of the "mtcars" DataFrame
sort!(mtcars, :MPG, rev = true)

32×5 DataFrame
│ Row │ Model               │ MPG     │ cylinders │ Horsepower │ weight  │
│     │ String              │ Float64 │ Int64     │ Int64      │ Float64 │
├─────┼─────────────────────┼─────────┼───────────┼────────────┼─────────┤
│ 1   │ Toyota Corolla      │ 33.9    │ 4         │ 65         │ 1.835   │
│ 2   │ Fiat 128            │ 32.4    │ 4         │ 66         │ 2.2     │
│ 3   │ Honda Civic         │ 30.4    │ 4         │ 52         │ 1.615   │
│ 4   │ Lotus Europa        │ 30.4    │ 4         │ 113        │ 1.513   │
│ 5   │ Fiat X1-9           │ 27.3    │ 4         │ 66         │ 1.935   │
│ 6   │ Porsche 914-2       │ 26.0    │ 4         │ 91         │ 2.14    │
│ 7   │ Merc 240D           │ 24.4    │ 4         │ 62         │ 3.19    │
│ 8   │ Datsun 710          │ 22.8    │ 4         │ 93         │ 2.32    │
│ 9   │ Merc 230            │ 22.8    │ 4         │ 95         │ 3.15    │
│ 10  │ Toyota Corona       │ 21.5    │ 4         │ 97         │ 2.465   │
⋮
│ 22  │ Merc 450SE          │ 16.4    │ 8         │ 180        │ 4.07    │
│ 23  │ Ford Pantera L      │ 15.8    │ 8         │ 264        │ 3.17    │
│ 24  │ Dodge Challenger    │ 15.5    │ 8         │ 150        │ 3.52    │
│ 25  │ Merc 450SLC         │ 15.2    │ 8         │ 180        │ 3.78    │
│ 26  │ AMC Javelin         │ 15.2    │ 8         │ 150        │ 3.435   │
│ 27  │ Maserati Bora       │ 15.0    │ 8         │ 335        │ 3.57    │
│ 28  │ Chrysler Imperial   │ 14.7    │ 8         │ 230        │ 5.345   │
│ 29  │ Duster 360          │ 14.3    │ 8         │ 245        │ 3.57    │
│ 30  │ Camaro Z28          │ 13.3    │ 8         │ 245        │ 3.84    │
│ 31  │ Cadillac Fleetwood  │ 10.4    │ 8         │ 205        │ 5.25    │
│ 32  │ Lincoln Continental │ 10.4    │ 8         │ 215        │ 5.424   │

In [17]:
# Create new variables in the "mtcars" DataFrame
mtcars[:powerToWeightRatio] = mtcars[:Horsepower] ./ mtcars[:weight];
mtcars[:horsepowerTimesMPG] = mtcars[:Horsepower] .* mtcars[:MPG];

In [18]:
# Look at the first six rows of the "mtcars" DataFrame
carsHead = head(mtcars, 6)
carsHead

6×7 DataFrame. Omitted printing of 2 columns
│ Row │ Model          │ MPG     │ cylinders │ Horsepower │ weight  │
│     │ String         │ Float64 │ Int64     │ Int64      │ Float64 │
├─────┼────────────────┼─────────┼───────────┼────────────┼─────────┤
│ 1   │ Toyota Corolla │ 33.9    │ 4         │ 65         │ 1.835   │
│ 2   │ Fiat 128       │ 32.4    │ 4         │ 66         │ 2.2     │
│ 3   │ Honda Civic    │ 30.4    │ 4         │ 52         │ 1.615   │
│ 4   │ Lotus Europa   │ 30.4    │ 4         │ 113        │ 1.513   │
│ 5   │ Fiat X1-9      │ 27.3    │ 4         │ 66         │ 1.935   │
│ 6   │ Porsche 914-2  │ 26.0    │ 4         │ 91         │ 2.14    │

In [19]:
# Create a new DataFrame called "models"
models = DataFrame(
    Manufacturer = ["Toyota", "Fiat", "Honda", "Lotus", "Fiat", "Porsche"],
    Model = ["Toyota Camry", "Fiat 128", "Honda Civic", "Lotus Europa", "Fiat X1-9", "Porsche 914-2"]
    )

6×2 DataFrame
│ Row │ Manufacturer │ Model         │
│     │ String       │ String        │
├─────┼──────────────┼───────────────┤
│ 1   │ Toyota       │ Toyota Camry  │
│ 2   │ Fiat         │ Fiat 128      │
│ 3   │ Honda        │ Honda Civic   │
│ 4   │ Lotus        │ Lotus Europa  │
│ 5   │ Fiat         │ Fiat X1-9     │
│ 6   │ Porsche      │ Porsche 914-2 │

In [20]:
# Left join the "models" and "carsHead" DataFrames
carInfo = join(
    models, 
    carsHead[:, [:Model, :MPG, :Horsepower, :weight]], 
    on = :Model, kind = :left)

6×5 DataFrame
│ Row │ Manufacturer │ Model         │ MPG      │ Horsepower │ weight   │
│     │ String       │ String        │ Float64? │ Int64?     │ Float64? │
├─────┼──────────────┼───────────────┼──────────┼────────────┼──────────┤
│ 1   │ Toyota       │ Toyota Camry  │ missing  │ missing    │ missing  │
│ 2   │ Fiat         │ Fiat 128      │ 32.4     │ 66         │ 2.2      │
│ 3   │ Honda        │ Honda Civic   │ 30.4     │ 52         │ 1.615    │
│ 4   │ Lotus        │ Lotus Europa  │ 30.4     │ 113        │ 1.513    │
│ 5   │ Fiat         │ Fiat X1-9     │ 27.3     │ 66         │ 1.935    │
│ 6   │ Porsche      │ Porsche 914-2 │ 26.0     │ 91         │ 2.14     │

In [21]:
# Create a new DataFrame which provides grouped counts
cylSummary = by(mtcars, :cylinders, d -> DataFrame(count = nrow(d)))

3×2 DataFrame
│ Row │ cylinders │ count │
│     │ Int64     │ Int64 │
├─────┼───────────┼───────┤
│ 1   │ 4         │ 11    │
│ 2   │ 6         │ 7     │
│ 3   │ 8         │ 14    │

In [22]:
# Create a new DataFrame which provides grouped averages
mpgSummary = by(mtcars, :cylinders, :MPG => mean)

3×2 DataFrame
│ Row │ cylinders │ MPG_mean │
│     │ Int64     │ Float64  │
├─────┼───────────┼──────────┤
│ 1   │ 4         │ 26.6636  │
│ 2   │ 6         │ 19.7429  │
│ 3   │ 8         │ 15.1     │